/* Archivo CSS de 'pde_factura' */

/* Modal generar factura */
.div_modal .datos.generar-factura{

}
.div_modal .datos.generar-factura .buscador{
    background-color: #ddd;

    margin: 5px;
    padding: 10px;
}

.div_modal .datos.generar-factura .buscador .col{
    display: inline-block;
    vertical-align: top;
}
.div_modal .datos.generar-factura .buscador .col.c1{
    width: 400px;
}
.div_modal .datos.generar-factura .buscador .col.c2{
    /*width: 300px;*/
}
.div_modal .datos.generar-factura .buscador .col.c3{
    /*width: 300px;*/
}

.datos.generar-factura .comentario-limite-cantidad{
    border: #AD3826 dotted 1px;
    background-color: #f0ecc9;

    color: #AD3826;
    font-size: 12px;

    padding: 15px;
    margin: 10px;
}

.div_modal .datos.generar-factura #form_generar_factura tr td{
    vertical-align: top;    
}
.div_modal .datos.generar-factura #form_generar_factura tr.selected td{
    background-color: #f0ecc9;
    color: #000;    
}

.div_modal .div_datos_generar_facturas{

}
.div_modal .div_datos_generar_facturas #txt_buscador_filtros_varios{
    font-size: 14px;
    padding: 5px;
    width: 90%;
}

.div_modal .div_datos_generar_facturas .par{
    margin: 10px;
}
.div_modal .div_datos_generar_facturas .par .label{
    width: 10%;
}
.div_modal .div_datos_generar_facturas .par .dato{
    width: 85%;
}
.div_modal .div_datos_generar_facturas h3{
    background-color: #cccccc;
    padding: 5px;
    margin: 0;
}

.div_modal_modal .datos.generar-ws-fe-afip #form_generar_ws_fe_afip .col{
    display:inline-block;
    vertical-align: top;

    background-color: #f4f4f4;
    box-sizing: border-box;

    margin: 5px;
    padding: 10px 30px;

    width: 48%;
}

.div_modal_modal .datos.generar-ws-fe-afip #form_generar_ws_fe_afip .col.col1{
    width: 50%;
}
.div_modal_modal .datos.generar-ws-fe-afip #form_generar_ws_fe_afip .col.col1 select{
    max-width: 100%;
}
.div_modal_modal .datos.generar-ws-fe-afip #form_generar_ws_fe_afip .col.col2{
    width: 46%;
}

.div_modal_modal #detalle_pde_comprobante_total{
    border: none;
    color: #666;
}
.div_modal_modal #detalle_pde_comprobante_total td{
    border: #dedede solid 1px;
    background-color: #fff;

    padding: 4px;
}
.div_modal_modal #detalle_pde_comprobante_total tr.total td{
    background-color: #ddd!important;
    font-weight: bold;

    padding: 6px;
}

/* Items */
#listado_pde_factura_items{
    margin: 0 auto 0 auto;
}
#listado_pde_factura_items th{
    background-color: #666;
    border-bottom: #ccc solid 1px;
    color: #fff;
    padding: 5px;
}
#listado_pde_factura_items td{
    background-color: #fff;
    border-bottom: #ccc solid 1px;
    color: #000;
    padding: 5px;
}

#listado_pde_factura_items_confirmacion th{
    background-color: #ddd;
    border-bottom: #ccc solid 1px;
    color: #000;
    padding: 5px;
}
#listado_pde_factura_items_confirmacion td{
    background-color: #fff;
    border-bottom: #ccc solid 1px;
    color: #000;
    padding: 5px;
}

#listado_pde_factura_generar_factura{

}

#listado_pde_factura_generar_factura .par td{
    background-color: #f0f0f0;
}
#listado_pde_factura_generar_factura .impar td{
    background-color: #fff;
}

#listado_pde_factura_generar_factura .contador{
    font-size: 10px;
    color: #999;
}

#listado_pde_factura_generar_factura .codigo-pde-factura{
    color: #000;
}

#listado_pde_factura_generar_factura .fecha-pde-factura{
    font-size: 10px;
    color: #666;
}

#listado_pde_factura_generar_factura .codigo-pde-orden-venta{
    color: #000;
    font-weight: bold;
}

#listado_pde_factura_generar_factura .fecha-pde-orden-venta{
    font-size: 10px;
    color: #666;
}

#listado_pde_factura_generar_factura .codigo-interno{
    color: #000;
}
#listado_pde_factura_generar_factura .codigo-marca{
    color: #AD3826;
}
#listado_pde_factura_generar_factura .codigo-proveedor{
    color: #016DC5;
}

#listado_pde_factura_generar_factura .codigo-factura{
    color: #666666;
}
#listado_pde_factura_generar_factura .pde_factura_pde_oc_desvincular{
    color: #0000CC;
    margin: 2px;

    cursor: pointer;
}
#listado_pde_factura_generar_factura .pde_factura_pde_oc_desvincular:hover{
    opacity: 0.8;
}

#listado_pde_factura_generar_factura .disponible{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#listado_pde_factura_generar_factura .unidad-medida{
    font-size: 10px;
    color: #999;
}

#listado_pde_factura_generar_factura .importe-unitario{
}
#listado_pde_factura_generar_factura .importe-unitario.bruto{
    text-decoration: line-through;
    color: #999;
}
#listado_pde_factura_generar_factura .importe-unitario.neto{
    color: #000;
}
#listado_pde_factura_generar_factura .texto-iva{
    font-weight: normal;
    font-size: 10px;
    color: #008CBA;
}
#listado_pde_factura_generar_factura .importe-total{
}
#listado_pde_factura_generar_factura .importe-total.bruto{
    text-decoration: line-through;
    color: #999;
}
#listado_pde_factura_generar_factura .importe-total.neto{
    color: #000;
    font-weight: bold;
}
#listado_pde_factura_generar_factura .pde_oc_reclamos{
    cursor: pointer;
}
#listado_pde_factura_generar_factura .pde_oc_reclamos:hover{
    opacity: 0.8;
}
#listado_pde_factura_generar_factura .pde_oc_reclamar{
    color: #0000CC;
    margin: 2px;

    cursor: pointer;
}
#listado_pde_factura_generar_factura .pde_oc_reclamar:hover{
    opacity: 0.8;
}

#listado_pde_factura_generar_factura .importe-iva{
    color: #000;
}

#listado_pde_factura_generar_factura .pde_oc_tipo_estado_id{
}

#listado_pde_factura_generar_factura .pde_oc_tipo_estado_id img{
    vertical-align: middle;
    position: relative;
}

#listado_pde_factura_generar_factura .pde_oc_tipo_estado_remision_id{
}

#listado_pde_factura_generar_factura .pde_oc_tipo_estado_remision_id img{
    vertical-align: middle;
    position: relative;
}

#listado_pde_factura_generar_factura .pde_oc_tipo_estado_facturacion_id{
}

#listado_pde_factura_generar_factura .pde_oc_tipo_estado_facturacion_id img{
    vertical-align: middle;
    position: relative;
}

#listado_pde_factura_generar_factura{
}
#listado_pde_factura_generar_factura .txt_pde_oc_cantidad{
    display: none;
    text-align: center;
    font-size: 12px;
    padding: 3px;
}
#listado_pde_factura_generar_factura .uno.selected td{
    background-color: #f0ecc9;
    color: #000;    
}
#listado_pde_factura_generar_factura .uno.selected .txt_pde_oc_cantidad{
    display: block;
}
#listado_pde_factura_generar_factura .txt_pde_oc_importe_unitario{
    display: none;
    text-align: right;
    font-size: 12px;
    padding: 3px;
}
#listado_pde_factura_generar_factura .uno.selected .txt_pde_oc_importe_unitario{
    display: block;
    width:90%;
}
#listado_pde_factura_generar_factura .txt_pde_oc_porcentaje_descuento{
    display: none;
    text-align: left;
    font-size: 12px;
    padding: 3px;
}
#listado_pde_factura_generar_factura .uno.selected .txt_pde_oc_porcentaje_descuento{
    display: block;
}
#listado_pde_factura_generar_factura .cmb_ordenar_oc{
    display: none;
}
#listado_pde_factura_generar_factura .selected .cmb_ordenar_oc{
    display: block;
}
#listado_pde_factura_generar_factura .importe-total{
    font-size: 12px;
}
#listado_pde_factura_generar_factura .tipo-iva{
    color: #999;
}
#listado_pde_factura_generar_factura #div_p1_comprobante_subtotal_con_descuento{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
#listado_pde_factura_generar_factura #div_p1_comprobante_iva{
    font-size: 12px;
    font-weight: normal;
    color: #000;
}
#listado_pde_factura_generar_factura #div_p1_comprobante_tributos{
    font-size: 12px;
    font-weight: normal;
    color: #000;
}
#listado_pde_factura_generar_factura #div_p1_comprobante_total{
    font-size: 13px;
    font-weight: bold;
    color: #000;
}


/* Listado factura */
#listado_adm_pde_factura_gestion{

}
#listado_adm_pde_factura_gestion .actividad{
    background-color: #ededed;
    padding: 2px 3px;

    font-size: 10px;
    color: #666;
}
#listado_adm_pde_factura_gestion .fecha_emision{
    font-size: 10px;
    color: #666;
}
#listado_adm_pde_factura_gestion .codigo{
    font-size: 10px;
    color: #666;
}
#listado_adm_pde_factura_gestion .tipo-origen{
    background-color: #ededed;
    padding: 2px 3px;
    margin: 2px;

    font-size: 10px;
    color: #333;
}
#listado_adm_pde_factura_gestion .cuit{
    color: #666;
    font-size: 11px;
}
#listado_adm_pde_factura_gestion .persona_descripcion{
    font-weight: bold;
    color: #000;
}
#listado_adm_pde_factura_gestion .nota-interna{
    color: #016DC5;
}
#listado_adm_pde_factura_gestion .pde_tipo_factura{
    color: #333;
    font-weight: bold;
}
#listado_adm_pde_factura_gestion .pde_factura_tipo_estado{
    color: #000;
}
#listado_adm_pde_factura_gestion .pde_factura_tipo_estado img{
    vertical-align: middle;
}
#listado_adm_pde_factura_gestion .pde-comprobantes-vinculados{
    margin: 0px;
    max-height: 50px;
    overflow: auto;
}
#listado_adm_pde_factura_gestion .pde-comprobantes-vinculados .pde-comprobante-vinculado{
    color: #666;
    font-size: 10px;
    padding-left: 0px;
}

#listado_adm_pde_factura_gestion .subtotal{
    text-align: right;
    color: #000;
}
#listado_adm_pde_factura_gestion .iva,
#listado_adm_pde_factura_gestion .tributos{
    text-align: right;
    color: #666;
    font-size: 11px;
}
#listado_adm_pde_factura_gestion .total{
    color: #000;
    font-weight: bold;
    text-align: right;
}

#listado_adm_pde_factura_gestion .centro-costos{
    max-height: 50px;
    overflow: auto;
}

#listado_adm_pde_factura_gestion .centro-costo
{
    display: inline-block;
    width: 48%;
    background-color: #fff;
    color: #333;
    font-size: 10px;
}
#listado_adm_pde_factura_gestion .centro-costo .col
{
    display: inline-block;

    padding: 1px 1px 1px 4px;
    margin-left: -2px;
    text-align: center;
}
#listado_adm_pde_factura_gestion .centro-costo .descripcion-corta{
    width: 20%!important;
    background-color: #013254;
    color: #fff;
    text-align: left;      
}

#listado_adm_pde_factura_gestion .centro-costo .porcentaje-afectado{
    text-align: center;
    background-color: #ddd;
    color: #000;

    width: 18%!important;
}

#listado_adm_pde_factura_gestion .centro-costo .importe-afectado{
    text-align: right;
    background-color: #ccc;
    color: #013254;

    width: 50%;
}

#listado_adm_pde_factura_gestion .periodo-fiscal{
    font-size: 10px;
    color: #666;
}
#listado_adm_pde_factura_gestion .numero_timbrado{
    font-size: 11px;
}
#listado_adm_pde_factura_gestion .numero_factura{
    color: #000;
    font-weight: bold;
}
#listado_adm_pde_factura_gestion .cae{
    font-size: 10px;
    /*color: #666;*/
}
#listado_adm_pde_factura_gestion .fecha_emision_cae{
    font-size: 10px;
    color: #666;
}

/* Vencimiento */
#listado_adm_pde_factura_gestion .fecha-vencimiento{
    font-size: 11px;
    color: #000;
}
#listado_adm_pde_factura_gestion .fecha-vencimiento.regular{
    color: #006600;
}
#listado_adm_pde_factura_gestion .fecha-vencimiento.vence-pronto{
    color: #ea7d22;
}
#listado_adm_pde_factura_gestion .fecha-vencimiento.vence-hoy{
    color: #ea7d22;
    font-weight: bold;
}
#listado_adm_pde_factura_gestion .fecha-vencimiento.vencido{
    color: #CC0000;
}
#listado_adm_pde_factura_gestion .condicion-venta{
    font-size: 11px;
}

/* Ficha - Modal Top */
.div_modal .ficha-factura .modal-top{
    margin: 5px;
    padding: 5px;

    background-color: #f4f4f4;
    border-bottom: #ccc solid 1px;
}
.div_modal .ficha-factura .modal-top .col{
    display: inline-block;
    vertical-align: top;

    width: 100px;
}
.div_modal .ficha-factura .modal-top .col .label{
    color: #666;
    font-weight: normal;
}
.div_modal .ficha-factura .modal-top .col.foto{
    width: 70px;
    margin: 0 10px;
}
.div_modal .ficha-factura .modal-top .col.foto img{
    border: #ccc solid 1px;
    width: 100%;
}
.div_modal .ficha-factura .modal-top .col.cliente{
    width: 350px;
}

/* Ficha Estados */
#tab_estados .tabla-modal .fecha{
    font-size: 10px;
    color: #000;
}

#tab_estados .tabla-modal .descripcion{
    color: #000;
}

#tab_estados .tabla-modal .tipo-estado{

}

#tab_estados .tabla-modal .tipo-estado img{
    vertical-align: middle;
    position: relative;
}

#tab_estados .tabla-modal .observacion{
    color: #000;
    font-weight: bold;
}

#tab_estados .tabla-modal .creado-por{
    color: #000;
}

#tab_estados .tabla-modal .actual{
}


/* Ficha Ordenes de Venta */
#tab_oc{

}

#tab_oc .tabla-modal .par td{
    background-color: #f0f0f0;
}
#tab_oc .tabla-modal .impar td{
    background-color: #fff;
}

#tab_oc .tabla-modal .codigo-pde-factura{
    color: #000;
}

#tab_oc .tabla-modal .fecha-pde-factura{
    font-size: 10px;
    color: #666;
}

#tab_oc .tabla-modal .codigo-pde-orden-venta{
    color: #000;
    font-weight: bold;
}

#tab_oc .tabla-modal .fecha-pde-orden-venta{
    font-size: 10px;
    color: #666;
}

#tab_oc .tabla-modal .cliente{
}

#tab_oc .tabla-modal .email{
}

#tab_oc .tabla-modal .descripcion{
    color: #000;
    font-weight: bold;
}

#tab_oc .tabla-modal .pde_oc_tipo_estado_id{
}

#tab_oc .tabla-modal .pde_oc_tipo_estado_id img{
    vertical-align: middle;
    position: relative;
}

#tab_oc .tabla-modal .pde_oc_tipo_estado_remision_id{
}

#tab_oc .tabla-modal .pde_oc_tipo_estado_remision_id img{
    vertical-align: middle;
    position: relative;
}

#tab_oc .tabla-modal .pde_oc_tipo_estado_facturacion_id{
}

#tab_oc .tabla-modal .pde_oc_tipo_estado_facturacion_id img{
    vertical-align: middle;
    position: relative;
}

#tab_oc .tabla-modal .ins_tipo_lista_precio_id{
}

#tab_oc .tabla-modal .cantidad{
    font-size: 12px;
    font-weight: bold;
}

#tab_oc .tabla-modal .unidad-medida{
    font-size: 10px;
    color: #999;
}

#tab_oc .tabla-modal .importe-unitario{
}
#tab_oc .tabla-modal .importe-unitario.bruto{
    text-decoration: line-through;
    color: #999;
}
#tab_oc .tabla-modal .importe-unitario.neto{
    color: #000;
}
#tab_oc .tabla-modal .importe-total{
}
#tab_oc .tabla-modal .importe-total.bruto{
    text-decoration: line-through;
    color: #999;
}
#tab_oc .tabla-modal .importe-total.neto{
    color: #000;
    font-weight: bold;
}

/* Ficha Notas de Credito */
#tab_nota_credito{

}

#tab_nota_credito .tabla-modal .par td{
    background-color: #f0f0f0;
}
#tab_nota_credito .tabla-modal .impar td{
    background-color: #fff;
}

#tab_nota_credito .tabla-modal .codigo-pde-nota-credito{
    font-weight: bold;
    color: #000;
}

#tab_nota_credito .tabla-modal .fecha-emision-pde-nota-credito{
    font-size: 10px;
    color: #666;
}

#tab_nota_credito .tabla-modal .numero-nota-credito-pde-nota-credito{
    color: #000;
    font-weight: bold;
    font-size: 10px;
}

#tab_nota_credito .tabla-modal .cae-pde-nota-credito{
    font-size: 10px;
}

#tab_nota_credito .tabla-modal .descripcion-pde-tipo-nota-credito{
    font-size: 10px;
}

#tab_nota_credito .tabla-modal .descripcion{
    color: #000;
    font-weight: bold;
}

#tab_nota_credito .tabla-modal .condicion-iva{
}

#tab_nota_credito .tabla-modal .tipo-personeria{
}

#tab_nota_credito .tabla-modal .empresa-facturadora{
}

#tab_nota_credito .tabla-modal .cantidad{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

#tab_nota_credito .tabla-modal .unidad-medida{
    font-size: 10px;
    color: #999;
}

#tab_nota_credito .tabla-modal .importe-unitario{
    color: #000;
}

#tab_nota_credito .tabla-modal .importe-total{
    color: #000;
    font-weight: bold;
}

/* Ficha Solicitud AFIP */
#tab_solicitud_afip{

}

#tab_solicitud_afip .tabla-modal .par td{
    background-color: #f0f0f0;
}
#tab_solicitud_afip .tabla-modal .impar td{
    background-color: #fff;
}

#tab_solicitud_afip .tabla-modal .numero-comprobante-solicitud{
    color: #000;
    font-weight: bold;
}

#tab_solicitud_afip .tabla-modal .fecha-comprobante-solicitud{
    font-size: 10px;
    color: #666;
}

#tab_solicitud_afip .tabla-modal .tipo-comprobante-solicitud{
}

#tab_solicitud_afip .tabla-modal .importe-neto{
    color: #000;
}

#tab_solicitud_afip .tabla-modal .importe-iva{
    color: #000;
}

#tab_solicitud_afip .tabla-modal .importe-concepto{
    color: #000;
}

#tab_solicitud_afip .tabla-modal .importe-tributo{
    color: #000;
}

#tab_solicitud_afip .tabla-modal .importe-exento{
    color: #000;
}

#tab_solicitud_afip .tabla-modal .importe-total{
    color: #000;
    font-weight: bold;
}

#tab_solicitud_afip .tabla-modal .tipo-comprobante-respuesta{
}

#tab_solicitud_afip .tabla-modal .numero-comprobante-respuesta{
    color: #000;
    font-weight: bold;
}

#tab_solicitud_afip .tabla-modal .fecha-comprobante-respuesta{
    font-size: 10px;
    color: #999;
}

#tab_solicitud_afip .tabla-modal .cantida-registro{
    font-size: 12px;
    font-weight: bold;
}

#tab_solicitud_afip .tabla-modal .resultado-cabecera{
    font-size: 12px;
    font-weight: bold;
}

#tab_solicitud_afip .tabla-modal .resultado-detalle{
    font-size: 12px;
    font-weight: bold;
}

#tab_solicitud_afip .tabla-modal .cae{
    font-size: 12px;
    font-weight: bold;
}

#tab_solicitud_afip .tabla-modal .cae-fecha-vencimiento{
    font-size: 10px;
    color: #999;
}


/* Ficha Emails */
#tab_emails .tabla-modal-ficha-emails{

}

#tab_emails .tabla-modal-ficha-emails .par td{
    background-color: #f0f0f0;
}
#tab_emails .tabla-modal-ficha-emails .impar td{
    background-color: #fff;
}

#tab_emails .tabla-modal-ficha-emails .fecha{
    color: #000;
}
#tab_emails .tabla-modal-ficha-emails .codigo-factura{
    font-weight: bold;
    color: #000;
}
#tab_emails .tabla-modal-ficha-emails .fecha-factura{
    color: #666;
}
#tab_emails .tabla-modal-ficha-emails .asunto{
    color: #000;
    font-size: 11px;
    font-weight: bold;
}
#tab_emails .tabla-modal-ficha-emails .destinatario{
    color: #666;
}
#tab_emails .tabla-modal-ficha-emails .observacion{
    color: #AD3826;
    font-style: italic;
}
#tab_emails .tabla-modal-ficha-emails .creado-por-descripcion{
    color: #000;
    /*font-weight: bold;*/
}

/* Listado items Generar NC */
#listado_pde_factura_generar_nota_credito{

}

#listado_pde_factura_generar_nota_credito .par td{
    background-color: #f0f0f0;
}
#listado_pde_factura_generar_nota_credito .impar td{
    background-color: #fff;
}

#listado_pde_factura_generar_nota_credito .codigo-pde-factura{
    color: #000;
}

#listado_pde_factura_generar_nota_credito .fecha-pde-factura{
    font-size: 10px;
    color: #666;
}

#listado_pde_factura_generar_nota_credito .codigo-pde-orden-venta{
    color: #000;
    font-weight: bold;
}

#listado_pde_factura_generar_nota_credito .fecha-pde-orden-venta{
    font-size: 10px;
    color: #666;
}

#listado_pde_factura_generar_nota_credito .disponible{
    font-size: 12px;
    font-weight: bold;
}

#listado_pde_factura_generar_nota_credito .unidad-medida{
    font-size: 10px;
    color: #999;
}

#listado_pde_factura_generar_nota_credito .importe-unitario{
}
#listado_pde_factura_generar_nota_credito .importe-unitario.bruto{
    text-decoration: line-through;
    color: #999;
}
#listado_pde_factura_generar_nota_credito .importe-unitario.neto{
    color: #000;
}
#listado_pde_factura_generar_nota_credito .importe-total{
}
#listado_pde_factura_generar_nota_credito .importe-total.bruto{
    text-decoration: line-through;
    color: #999;
}
#listado_pde_factura_generar_nota_credito .importe-total.neto{
    color: #000;
    font-weight: bold;
}

#listado_pde_factura_generar_nota_credito .importe-iva{
    color: #000;
}

#listado_pde_factura_generar_nota_credito .pde_oc_tipo_estado_id{
}

#listado_pde_factura_generar_nota_credito .pde_oc_tipo_estado_id img{
    vertical-align: middle;
    position: relative;
}

#listado_pde_factura_generar_nota_credito .pde_oc_tipo_estado_remision_id{
}

#listado_pde_factura_generar_nota_credito .pde_oc_tipo_estado_remision_id img{
    vertical-align: middle;
    position: relative;
}

#listado_pde_factura_generar_nota_credito .pde_oc_tipo_estado_facturacion_id{
}

#listado_pde_factura_generar_nota_credito .pde_oc_tipo_estado_facturacion_id img{
    vertical-align: middle;
    position: relative;
}

#listado_pde_factura_generar_nota_credito{
}
#listado_pde_factura_generar_nota_credito .txt_pde_factura_pde_oc_cantidad{
    display: none;
}


/* Modal generar Nota de Credito Item */
.div_modal .datos #form_generar_nota_credito_item .col{
    display:inline-block;
    vertical-align: top;

    background-color: #f4f4f4;
    box-sizing: border-box;

    margin: 5px;
    padding: 10px 30px;

    width: 45%;
}

.div_modal .datos #form_generar_nota_credito_item .col.col1{
}
.div_modal .datos #form_generar_nota_credito_item .col.col1 select{
    max-width: 100%;
}

.div_modal .datos #form_generar_nota_credito_item .col.col2{
}

.div_modal #detalle_pde_factura_total{
    border: none;
    color: #666;
}
.div_modal #detalle_pde_factura_total td{
    border: #dedede solid 1px;
    background-color: #fff;

    padding: 4px;
}
.div_modal #detalle_pde_factura_total tr.total td{
    background-color: #ddd!important;
    font-weight: bold;

    padding: 6px;
}

/* Modificar Datos */
.div_modal .datos.modificar-datos .col{
    display: inline-block;
    vertical-align: top;
}
.div_modal .datos.modificar-datos .col.c1{
    width: 55%;
}
.div_modal .datos.modificar-datos .col.c2{
    width: 35%;
}

/* Modal Centro Costo Imputacion */
#listado_gral_centro_costo{
    
}
#listado_gral_centro_costo .centro-costo{
    border-left: #ccc solid 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
    padding-left: 10px;
}
#listado_gral_centro_costo .centro-costo:hover{
    border-left: #016DC5 solid 5px;
    color: #016DC5;
}
#listado_gral_centro_costo .sel{
    font-weight: bold;
}
#listado_gral_centro_costo .sel input{
    border: #000 solid 1px;
    font-weight: bold;
}